<nav class="navbar bg-dark text-white p-1">
  <div class="container d-flex justify-content-between align-items-center">
    <div><strong>CineSuggest</strong></div>
    <div class="d-flex align-items-center">
      <div class="input-group">
        <span class="input-group-text text-white border-0" style="background: var(--primary)">
          <i class="bi bi-search"></i>
        </span>
        <input type="text" class="form-control" placeholder="Pesquise">
      </div>
      <i class="bi bi-person-circle ms-3" style="font-size: 1.7em"></i>
    </div>
  </div>
</nav>
