<div class="container-fluid py-5" style="min-height: 100vh; color: #fff;">
  <div class="container">

    <div class="d-flex align-items-center mb-4 border-start border-warning border-4 ps-3">
      <h2 class="fw-bold m-0 text-white">Destaques do Cinesuggest</h2>
    </div>

    <div class="row g-4">

      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <a href="#">
          <app-card
            [title]="'Breaking Bad'"
            [imageUrl]="'https://image.tmdb.org/t/p/original/ehBNf4ZO2xITFRC4KXr2v7rNeY3.jpg'"
            [rating]="'9.5'"
            [body]="'Um professor de química de ensino médio diagnosticado com câncer de pulmão inoperável se volta para a fabricação e venda de metanfetamina.'"
            [px]="'p-0'">
          </app-card>
        </a>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <app-card
          [title]="'Breaking Bad'"
          [imageUrl]="'https://image.tmdb.org/t/p/original/ehBNf4ZO2xITFRC4KXr2v7rNeY3.jpg'"
          [rating]="'9.5'"
          [body]="'Texto mais curto para teste.'"
          [px]="'p-0'">
        </app-card>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <app-card
          [title]="'Breaking Bad'"
          [imageUrl]="'https://image.tmdb.org/t/p/original/ehBNf4ZO2xITFRC4KXr2v7rNeY3.jpg'"
          [rating]="'9.5'"
          [body]="'Texto mais curto para teste.'"
          [px]="'p-0'">
        </app-card>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <app-card
          [title]="'Breaking Bad'"
          [imageUrl]="'https://image.tmdb.org/t/p/original/ehBNf4ZO2xITFRC4KXr2v7rNeY3.jpg'"
          [rating]="'9.5'"
          [body]="'Texto mais curto para teste.'"
          [px]="'p-0'">
        </app-card>
      </div>

      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <app-card
          [title]="'Breaking Bad'"
          [imageUrl]="'https://image.tmdb.org/t/p/original/ehBNf4ZO2xITFRC4KXr2v7rNeY3.jpg'"
          [rating]="'9.5'"
          [body]="'Texto mais curto para teste.'"
          [px]="'p-0'">
        </app-card>
      </div>


    </div>
  </div>
</div>
